<div class="container-fluid"><div class="row d-flex justify-content-md-center align-items-center">
    <div class="col-md-6">
<div class="card">
  <div class="card-header" *ngIf="!givenName"> Welcome! </div>
  <div class="card-header" *ngIf="givenName"> Welcome, {{givenName}} {{familyName}}! </div>

  <div class="card-body">
    <P>Login with Username/password</P>

    <p style="color:red; font-weight:bold" *ngIf="loginFailed">Login wasn't successfull.</p>

    <div class="form-group">
      <label>Username</label>
      <input class="form-control" name="userName" [(ngModel)]="userName" />
    </div>

    <div class="form-group">
      <label>Password</label>
      <input class="form-control" name="password" type="password" [(ngModel)]="password" />
    </div>
    
    <div class="form-group">
      <button class="btn btn-secondary mr-3" (click)="loginWithPassword()">Login</button>
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <b>Username/Password: </b> demo/demo123 OR max/geheim
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p>
      <b>access_token_expiration:</b> {{access_token_expiration}}
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p>
      <b>access_token: </b> {{access_token}}
    </p>
    <div *ngIf="userProfile">
        <b>User Profile:</b>
        <pre>{{userProfile | json }}</pre>
    </div>
  </div>
</div>
</div>
</div>
</div>