<div class="container">
  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-button>Toggle extra text</button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button (click)="showFiller = !showFiller" mat-icon-button  (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-drawer-container>
</div>